

  
  body {
    font-family:sans-serif;
    height: 100vh;
  }

  #login-heading {
    text-align: center;
    
  }

  #logo {
    margin-bottom: 50px;
    margin-top: 50px;
    height: auto;
    width: 400px;
    margin-left: 37%;
  }
 
  #login-header {
    background-color: #1E4CA1;
    color: white;
    width: 100%;
    height: 150px;
    margin-top: -22px;
  }
  
  header h1 {
    margin-top: 40px;
    color: white;
  }

  #error-message {
    color: red;
  }
  
  
    
  #login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 92%;
    margin-bottom: 30px;
    background: linear-gradient(90deg, rgba(89, 143, 242, 0.15) 0%, rgba(51.49, 82.73, 140, 0.15) 100%);
    border-style: none;
    border-radius: 30px;
    margin-left: 3.5%;
    margin-top: 3.5%;
  }
  
  
  
  #login-button {
    background: #1E4CA1;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    color: white;
    padding: 2px 10px;
    width: 40%;
    height: 55px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-top: 10px;
  }
  
 
  
  .login-input {
    width: 37%;
    height: 30px;
    text-align: center;
    font-size: medium;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
  }
  
  #login-signup-button {
    background: #1fc833;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    color: white;
    padding: 2px 10px;
    width: 40%;
    height: 85px;
    margin-bottom: 40px;
    margin-left: 30%;
    height: 55px;
  }
 
  

  
